@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700');

@import '0-init/normalize.scss';
@import '0-init/breakpoints.scss';
@import '0-init/container.scss';
@import '0-init/display.scss';
@import '0-init/flex.scss';
@import '0-init/opacity.scss';
@import '0-init/position.scss';
@import '0-init/spacing.scss';
@import '0-init/text.scss';

:root {
  --color-default: #3fc0c9;
  --color-default-text: white;
  --color-default-hover: #02919E;
  --color-default-rgb: 63, 189, 201;
  --color-default-text-rgb: 255, 255, 255;
  --color-default-hover-rgb: 2, 145, 158;
}

*{
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

a{
  color: var(--color-default);

  &:hover,
  &:focus{
    color: var(--color-default-hover);
  }
}

img{
  max-width: 100%;
}
